In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [28]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',low_memory=False)

In [29]:
len(df)

1369765

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [5]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [45]:
df_iterator = pd.read_csv('yellow_tripdata_2021-01.csv',low_memory=False, iterator=True, chunksize=100000)

In [46]:
df = next(df_iterator)
len(df)

100000

In [47]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [48]:
df.head(0).to_sql(name='yellow_taxi_data',con = engine,if_exists = 'replace')

0

In [49]:
df.to_sql(name='yellow_taxi_data',con = engine,if_exists = 'append')

1000

In [50]:
from time import time

In [51]:
while True:
    try:
        t_start = time()
        df = next(df_iterator)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()

        print('Inserted another chunk..., time took:', (t_end - t_start))

    except StopIteration:
        print('Finished reading the CSV file.')
        break

Inserted another chunk..., time took: 9.346985101699829
Inserted another chunk..., time took: 8.970524787902832
Inserted another chunk..., time took: 9.015733003616333
Inserted another chunk..., time took: 9.27599287033081
Inserted another chunk..., time took: 8.982456684112549
Inserted another chunk..., time took: 8.703680038452148
Inserted another chunk..., time took: 9.014336347579956
Inserted another chunk..., time took: 9.16834545135498
Inserted another chunk..., time took: 9.084010124206543
Inserted another chunk..., time took: 9.079987287521362
Inserted another chunk..., time took: 8.8889799118042
Inserted another chunk..., time took: 9.15284252166748
Inserted another chunk..., time took: 5.375622987747192
Finished reading the CSV file.